:host {
    display: flex;
}

:host menu--button-list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-end;
}

:host menu--button-list button {
    width: 2rem;
    height: 100%;
    border: unset;
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
}

:host menu--button-list button:disabled {
    opacity: 0.2;
}

:host menu--button-list button[name="undo"] {
    background-image: url(./IndoIcon.svg);
}

:host menu--button-list button[name="settings"] {
    background-image: url(./SettingsIcon.svg);
}
