sl-navigation {
    padding-top: 0.05rem;
    height: 1.505em;
}

sl-navigation button {
    width: 10em;
    height: 1.8em;
    font-family: 'Roboto', sans-serif;
    color: var(--light-secondary);
    border: 0.1rem solid var(--dark-secondary);
    border-bottom-width: 0;
    background-color: var(--dark-secondary);
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}

sl-navigation button:focus {
    outline: 0;
    background-color: var(--dark-secondary);
}

sl-navigation > button.active {
    background-color: var(--dark-primary);
    border-color: var(--dark-primary);
}
