@font-face {
    font-family: 'Roboto';
    src: url("Catamaran-VariableFont_wght.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

sl-navigation, sl-primary-input, sl-primary-list {
    display: block;
}
