@font-face {
    font-family: 'Roboto';
    src: url("Catamaran-VariableFont_wght.ttf");
}

body {
    background-color: var(--light-primary);
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    color: var(--dark-tertiary);
}
