sl-primary-input {
    background-color: slategrey;
    height: 1.6em;
    padding: 0.3em 0.4em 0.4em 0.2em;
}

sl-primary-input input-frame {
    display: block;
    background-color: white;
    width: 100%;
    height: 1.5em;
    border: 0.1em solid #9395a7;
    border-radius: 0.3em;
}

sl-primary-input input {
    width: calc(100% - 5.5em);
    border-width: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: top;
    margin-left: 0.1em;
    margin-top: 0.1em;
}

sl-primary-input input:focus {
    outline: 0;
}

sl-primary-input button {
    width: 2.5em;
    height: 1.6em;
    border: 0.1em solid #9395a7;
    border-radius: 0.3em;
    margin: 0.1em;
    background-color: #eeeeee;
}

sl-primary-input button {
    outline: 0;
}

sl-primary-input button:focus {
    background-color: #9395a7;
}

sl-primary-input button:active {
    background-color: #9395a7;
}

sl-primary-input button > img {
    margin-top: 0.15em;
    height: 80%;
}

sl-primary-input button[name=submit] > img {
    filter: hue-rotate(100deg);
}
