entire-list {
    background-color: var(--dark-primary);
    display: block;
    height: calc(100vh - 4rem);
}

entire-list visual-background {
    display: block;
    background-color: var(--light-secondary);
    border: var(--dark-primary) solid 0.1em;
    border-radius: 0.5rem;
    width: calc(100% - 4.75rem);
    height: calc(100% - 2.3rem);
    margin-left: 0.2em;
}

entire-list entity-list {
    display: block;
    width: calc(100% - 0.6rem);
    height: calc(100% - 2.4rem);
    margin-left: 0.4em;
    margin-right: 0.2em;
    margin-top: 0.1em;
    float: left;
    overflow-y: visible;
    overflow-x: hidden;
}

list-entity {
    display: block;
    height: 2.5rem;
    padding-top: 0.2rem;
}

list-entity list-label {
    display: block;
    border-bottom: var(--light-primary) solid 0.1rem;
    width: calc(100% - 4.4rem);
    height: calc(100% - 0.1rem);
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    user-select: none;
}

list-entity button {
    border: 0.15rem solid var(--dark-primary);
    background-color: var(--light-primary);
    border-radius: 0.5rem;
    width: 3.5rem;
    height: 2.3rem;
    margin-left: 0.5rem;
}

list-entity button {
    outline: 0;
}

list-entity button:active {
    background-color: var(--dark-secondary);
}

list-entity button > img {
    margin-top: 0.2rem;
    height: 80%;
    filter: hue-rotate(90deg);
}
