:host {
    background-color: var(--dark-primary);
    height: 100%;
}

:host input-frame {
    display: grid;
    grid-template-columns: 1fr min-content 3.7rem;
    grid-template-rows: 2.2rem;
    align-content: center;
    align-items: center;
    column-gap: 0.2rem;
    background-color: var(--light-secondary);
    width: calc(100% - 0.6rem);
    height: 2.5rem;
    border: 0.2rem solid var(--dark-secondary);
    border-radius: 0.5em;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
}

:host input {
    display: block;
    color: var(--dark-tertiary);
    background-color: var(--light-secondary);
    width: calc(100% - 0.2rem);
    border-width: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    vertical-align: top;
    margin-left: 0.1em;
    margin-top: 0.1em;
    float: left;
}

:host input:focus {
    outline: 0;
}

:host button {
    width: 3.5rem;
    height: 2.3rem;
    border: 0.15rem solid var(--dark-secondary);
    border-radius: 0.5rem;
    background-color: var(--light-primary);
}

:host button {
    outline: 0;
}

:host button:focus {
    background-color: var(--dark-secondary);
}

:host button:active {
    background-color: var(--dark-secondary);
}

:host button > img {
    margin-top: 0.25em;
    height: 80%;
}

:host button[name=submit] > img {
    filter: hue-rotate(100deg);
}
