:root {
    --dark-primary: #79a53e;
    --dark-secondary: #c8d2bf;
    --dark-tertiary: #000000;
    --light-primary: #eeeeee;
    --light-secondary: #fbfff8;
    --light-tertiary: #3c3c3c;
}

@font-face {
    font-family: 'Roboto';
    src: url("Catamaran-VariableFont_wght.ttf");
}

body {
    background-color: var(--light-primary);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    color: var(--dark-tertiary);
}
