:host {
    display: block;
    background-color: var(--dark-primary);
    height: 2.5rem;
    padding: 0.25em 0.6em 0.6em 0.2em;
    margin: 0;
}

:host input-frame {
    display: block;
    background-color: var(--light-secondary);
    width: 100%;
    height: 100%;
    border: 0.2rem solid var(--dark-secondary);
    border-radius: 0.5em;
}

:host input {
    display: block;
    color: var(--dark-tertiary);
    background-color: var(--light-secondary);
    width: calc(100% - 7.8rem);
    height: 2.3rem;
    border-width: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    vertical-align: top;
    margin-left: 0.1em;
    margin-top: 0.1em;
    float: left;
}

:host input:focus {
    outline: 0;
}

:host button {
    width: 3.5rem;
    height: 2.3rem;
    border: 0.15rem solid var(--dark-secondary);
    border-radius: 0.5rem;
    margin: 0.1em;
    background-color: var(--light-primary);
}

:host button[name=placeholder] {
    background-color: transparent;
    border: 0;
    width: 3.5rem;
    height: 0;
    margin: 0.1em;
}

:host button {
    outline: 0;
}

:host button:focus {
    background-color: var(--dark-secondary);
}

:host button:active {
    background-color: var(--dark-secondary);
}

:host button > img {
    margin-top: 0.25em;
    height: 80%;
}

:host button[name=submit] > img {
    filter: hue-rotate(100deg);
}
